<div id="about-us" class="container">
  <div class="about-info">
    <h4>About Us</h4>
    <p>
      The occupational traffic permit is one of the most important things in the
      company when carrying out freight transport. In fact, it is a prerequisite
      for doing business traffic at all.
    </p>
    <span>
      How do you do when you need to obtain a commercial traffic permit for
      freight transport to your business?
    </span>
  </div>
  <div>
    <img src="/img/Illustration.png" alt="worker making the delivery" />
  </div>
</div>
