<div id="clients">
  <div class="clients-header container">
    <div class="clients-info">
      <h4>About Us</h4>
      <p>Out Awesome Clients</p>
    </div>
    <div class="depositions">
      <div class="controls-slider">
        <button id="g-prev" class="glider-prev">
          <img src="/img/arrow-l.svg" alt="prev slider" />
        </button>
        <button id="g-next" class="glider-next">
          <img src="/img/arrow-r.svg" alt="next slider" />
        </button>
      </div>
      <div class="glider">
        <div class="card">
          <p>
            Yes, you will need to have the land owner sign the permit
            application as the Permittee, and you sign the permit as the
            Applicant or Agent for the Permittee.
          </p>
          <div class="card-profile">
            <img src="/img/client01.png" alt="Isak's picture" />
            <span>Isak Pettersson</span>
          </div>
        </div>

        <div class="card">
          <p>
            From most barricade or traffic control companies located in the
            phone book. They employ certified Traffic Control Supervisors (TCS)
            who can generate and certify the traffic control plan.
          </p>
          <div class="card-profile">
            <img src="/img/client02.png" alt="Simon's picture" />
            <span>Simon Sandberg</span>
          </div>
        </div>

        <div class="card">
          <p>
            An A-Line, or access restriction deed is a property right that has
            been obtained by CDOT for the sole purpose of prohibiting direct.
          </p>
          <div class="card-profile">
            <img src="/img/client03.png" alt="Joe's picture" />
            <span>Joel Doe</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
