<div id="faq">
  <div class="faq-head container">
    <div class="faq-info">
      <h4>Faq</h4>
      <p>Questions and Answers on Professional Traffic Permits:</p>
    </div>
    <div class="faq-img">
      <img
        src="/img/Faq-illustration.png"
        alt="person with doubts about the company"
      />
    </div>
  </div>
  <div class="faq-list container">
    <div class="faq-list-left">
      <div class="wrap-collabsible">
        <input id="collapsible" class="toggle" type="checkbox" checked />
        <label for="collapsible" class="lbl-toggle">
          What is a professional traffic permit?
        </label>
        <div class="collapsible-content">
          <div class="content-inner">
            <p>
              Traffic permits are a requirement for conducting professional
              traffic.
            </p>
          </div>
        </div>
      </div>

      <div class="wrap-collabsible">
        <input id="collapsible2" class="toggle" type="checkbox" />
        <label for="collapsible2" class="lbl-toggle">
          How to check the traffic condition?
        </label>
        <div class="collapsible-content">
          <div class="content-inner">
            <p>
              Traffic permits are a requirement for conducting professional
              traffic.
            </p>
          </div>
        </div>
      </div>

      <div class="wrap-collabsible">
        <input id="collapsible3" class="toggle" type="checkbox" />
        <label for="collapsible3" class="lbl-toggle">
          What are the requirements for a professional traffic permit?
        </label>
        <div class="collapsible-content">
          <div class="content-inner">
            <p>
              Traffic permits are a requirement for conducting professional
              traffic.
            </p>
          </div>
        </div>
      </div>

      <div class="wrap-collabsible">
        <input id="collapsible4" class="toggle" type="checkbox" />
        <label for="collapsible4" class="lbl-toggle">
          Are there professional traffic permit training courses at a distance?
        </label>
        <div class="collapsible-content">
          <div class="content-inner">
            <p>
              Traffic permits are a requirement for conducting professional
              traffic.
            </p>
          </div>
        </div>
      </div>

    </div>
    <div class="faq-list-right">
      <div class="wrap-collabsible">
        <input id="collapsible5" class="toggle" type="checkbox" />
        <label for="collapsible5" class="lbl-toggle">
          When is a professional traffic permit needed?
        </label>
        <div class="collapsible-content">
          <div class="content-inner">
            <p>
              Traffic permits are a requirement for conducting professional
              traffic.
            </p>
          </div>
        </div>
      </div>

      <div class="wrap-collabsible">
        <input id="collapsible6" class="toggle" type="checkbox" />
        <label for="collapsible6" class="lbl-toggle">
          Where to look for a traffic permit?
        </label>
        <div class="collapsible-content">
          <div class="content-inner">
            <p>
              Traffic permits are a requirement for conducting professional
              traffic.
            </p>
          </div>
        </div>
      </div>

      <div class="wrap-collabsible">
        <input id="collapsible7" class="toggle" type="checkbox" />
        <label for="collapsible7" class="lbl-toggle">
          Are there differences between a traffic permit and a professional traffic permit?
        </label>
        <div class="collapsible-content">
          <div class="content-inner">
            <p>
              Traffic permits are a requirement for conducting professional
              traffic.
            </p>
          </div>
        </div>
      </div>

      <div class="wrap-collabsible">
        <input id="collapsible8" class="toggle" type="checkbox" />
        <label for="collapsible8" class="lbl-toggle">
          How much does a commercial traffic permit cost for goods?
        </label>
        <div class="collapsible-content">
          <div class="content-inner">
            <p>
              Traffic permits are a requirement for conducting professional
              traffic.
            </p>
          </div>
        </div>
      </div>

      <div class="wrap-collabsible">
        <input id="collapsible9" class="toggle" type="checkbox" />
        <label for="collapsible9" class="lbl-toggle">
          How to plug in for the traffic permit test?
        </label>
        <div class="collapsible-content">
          <div class="content-inner">
            <p>
              Traffic permits are a requirement for conducting professional
              traffic.
            </p>
          </div>
        </div>
      </div>

      <div class="wrap-collabsible">
        <input id="collapsible10" class="toggle" type="checkbox" />
        <label for="collapsible10" class="lbl-toggle">
          How is the sample for a professional traffic permit booked?
        </label>
        <div class="collapsible-content">
          <div class="content-inner">
            <p>
              Traffic permits are a requirement for conducting professional
              traffic.
            </p>
          </div>
        </div>
      </div>

      <div class="btn-faq">
        <button>
          Load More
        </button>
      </div>

    </div>
  </div>
</div>
